@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.alert {
    width: 400px;
    height: 200px;
    font-weight: 900;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 30px;
    position: fixed;
    top: 20%;
    left: 60%;
    z-index: 7;
    box-shadow: -2px -2px 4px #000, 7px 7px 7px #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.danger {
    color: rgb(180, 14, 14);

}

.cerrar {
    background: rgb(189, 3, 3);
    color: white;
    padding: 10px;
    position: absolute;
    top: -5;
    right: -7;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cerrar:hover{
    background: rgb(228, 3, 3);
    border:2px solid #000;
}

/* =================================================================*/

.container-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(57, 61, 80);
    position: relative;
}

.form {
    width: 100%;
    max-width: 500px;
    padding: 25px;
    background: #fff;
    border: 1px solid rgb(233, 233, 233);
    margin: 20px 10px;
    box-shadow: 2px 2px 5px rgb(100, 100, 100), 4px 4px 10px rgb(150, 150, 150), 6px 6px 12px rgb(200, 200, 200), 8px 8px 14px rgb(255, 255, 255);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.logo {
    text-align: center;
    padding: 15px 0px;
    color: rgb(80, 91, 141);
    font-weight: 900;
}

.rgb {
    background-image: linear-gradient(90deg, rgb(236, 13, 13), yellow, green, rgb(46, 46, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    -webkit-background-clip: text;
}

.form .inputs {
    width: 100%;
    margin-top: 20px;
}

.form .inputs #oculto {
    display: none;
}

.form .inputs label {
    font-weight: 500;
    color: rgb(80, 91, 141);
}

.form .inputs input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    color: rgb(57, 61, 80);
    font-size: 17px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.form .inputs input[type="submit"] {
    width: 150px;
    height: 50px;
    color: white;
    background: rgb(57, 61, 80);
    font-size: 17px;
    font-weight: 100;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form .inputs input[type="submit"]:hover {
    background: rgb(81, 86, 112);
}


footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
    z-index: 5;
    padding: 20px;
}

footer h4 {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer .logo .logo-img {
    width: 30px;
}